{{#if succsses_msg}}
    <div class="alert alert-success" role="alert">
        {{succsses_msg}}
    </div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger" role="alert">
        {{error_msg}}
    </div>
{{/if}}
{{#if error}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
{{/if}}
{{#if success }}
<div class="alert alert-success" role="alert">
    {{success}}
</div>
{{/if}}