<h3 class="text-light">login</h3>
<form action="" method="post">
<div class="card text-bg-dark gap-5 p-3">
      <div>
        <label for="email">email</label>
        <input id="email" class="form-control" required name="email" type="text"/>
      </div>
      <div>
        <label for="">senha</label>
        <input type="password" class="form-control" required name="senha" />
      </div>
      <button class="btn btn-success" type="submit">Logar</button>
</div>
</form>
